html, body {
    margin: 0;
    padding: 0;
}

body {
    --mdc-typography-font-family: "Open Sans";

    --mdc-typography-body1-font-family: var(--mdc-typography-font-family);
    --mdc-typography-body1-font-size: 20px;
    --mdc-typography-body1-line-height: 30px;
    --mdc-typography-body1-font-weight: 400;

    --mdc-typography-body2-font-family: var(--mdc-typography-font-family);
    --mdc-typography-body2-font-size: 16px;
    --mdc-typography-body2-line-height: 24px;
    --mdc-typography-body2-font-weight: 400;

    --mdc-typography-headline1-font-size: 40px;
    --mdc-typography-headline1-line-height: 40px;
    --mdc-typography-headline1-font-weight: 700;

    --mdc-typography-headline5-font-size: 22px;
    --mdc-typography-headline5-line-height: 30px;
    --mdc-typography-headline5-font-weight: 500;

    --mdc-theme-background: #19202e;
    --mdc-theme-surface: #1e2738;
    --mdc-theme-primary: #fe655c;
    --mdc-theme-secondary: #465981;
    --mdc-theme-link: #629feb;

    background-color: var(--mdc-theme-background);
    color: var(--mdc-theme-text-primary-on-dark);
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 70vw;
}

a:not(.mdc-fab) {
    color: var(--mdc-theme-link);
    text-decoration: none;
}

a:not(.mdc-fab):hover{
    text-decoration: underline;
}

/* tablet */
@media (max-width:839px) {
    .container {
        width: 98%;
    }
}

/* phone */
@media (max-width: 599px) {
    .container {
        width: 98%;
    }
}