.certifications {
    background-color: var(--mdc-theme-surface);
    padding: 48px;
    border-radius: .5rem;
}

.certifications__title {
    text-align: center;
}

.certificate {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.certificate__row {
    display: flex;
    flex-wrap: wrap;
}

.certificate__download {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.certificate__title {
    margin: 0;
    flex: 1;
}

.certificate__title small {
    color: var(--mdc-theme-text-secondary-on-dark);
}

.certificate__subtitle {
    width: 100%;
    margin-top: 8px;
    color: var(--mdc-theme-text-hint-on-dark);
    height: 20px;
}

.certificate svg {
    width: 54px;
    height: 54px;
    color: var(--mdc-theme-icon);
    fill: var(--mdc-theme-icon);
    margin-right: 10px;
}