.certifications {
    background-color: var(--mdc-theme-surface);
    padding: 48px;
    border-radius: .5rem;
}

.certifications__title {
    text-align: center;
}

.certificate {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.certificate__title {
    margin: 0;
    flex: 1;
}

.certificate__subtitle {
    width: 100%;
    margin-top: 8px;
    color: var(--mdc-theme-text-hint-on-dark);
}

.certificate svg {
    width: 54px;
    height: 54px;
    color: var(--mdc-theme-icon);
    fill: var(--mdc-theme-icon);
    margin-right: 10px;
}