<div class="certifications">
    <h1 class="certifications__title mdc-typography--headline1" data-bind="text: title"></h1>
    <!-- ko if: items().length -->
    <div class="mdc-layout-grid__inner" data-bind="foreach: items">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="certificate">
                <div class="certificate__row" style="flex: 1">
                    <span data-bind="html: icon"></span>
                    <h3 class="certificate__title mdc-typography--headline3">
                        <span data-bind="html: title"></span>
                        <!-- ko if: $data.subtitle -->
                        <br>
                        <small data-bind="text: subtitle"></small>
                        <!-- /ko-->
                    </h3>
                </div>
                <div class="certificate__row">
                    <h3 class="certificate__subtitle mdc-typography--subtitle2" data-bind="text: date"></h3>
                </div>
                <div class="certificate__row">
                    <a class="certificate__download mdc-button mdc-button--icon-trailing" data-bind="attr: { href: url }">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__focus-ring"></span>
                        <span class="mdc-button__label">Download</span>
                        <i class="material-icons mdc-button__icon" aria-hidden="true">download</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
