<div class="timeline">
    <h1 class="projects__title mdc-typography--headline1" data-bind="text: title"></h1>
    <ul>
        <li class="timeline__card">
            <div class="timeline__card-content">
                <h3 class="mdc-typography--headline3">
                    Head of Enterprise Application Development<br>
                    <small>Alanata, Inc., Bratislava, Slovakia</small>
                </h3>
                <h3 class="mdc-typography--subtitle2">November 2023 &rarr; Current</h3>
                <p>
                    Leading and managing technical development team, oversee dev operations, setting and
                    evaluating people performance objectives and growing the team, collaborating with other
                    departments across the company.
                </p>
                <div class="mdc-chip-set">
                    <span class="mdc-chip mdc-ripple-upgraded">
                        <span class="mdc-chip__ripple"></span>
                        <span class="mdc-chip__text">Chip One</span>
                    </span>
                    <span class="mdc-chip mdc-ripple-upgraded">
                        <span class="mdc-chip__ripple"></span>
                        <span class="mdc-chip__text">Chip Tow</span>
                    </span>
                    <span class="mdc-chip mdc-ripple-upgraded">
                        <span class="mdc-chip__ripple"></span>
                        <span class="mdc-chip__text">Chip Three</span>
                    </span>
                </div>
            </div>
        </li>
        <li class="timeline__card">
            <div class="timeline__card-content">
                <h3 class="mdc-typography--headline3">onedrive browser</h3>
                <h3 class="mdc-typography--subtitle2">by Kurt Wagner</h3>
            </div>
        </li>
        <li class="timeline__card">
            <div class="timeline__card-content">
                <h3 class="mdc-typography--headline3">onedrive browser</h3>
                <h3 class="mdc-typography--subtitle2">by Kurt Wagner</h3>
            </div>
        </li>
        <li class="timeline__card">
            <div class="timeline__card-content">
                <h3 class="mdc-typography--headline3">onedrive browser</h3>
                <h3 class="mdc-typography--subtitle2">by Kurt Wagner</h3>
            </div>
        </li>
    </ul>
</div>