.skills {
    background-color: var(--mdc-theme-surface);
    padding: 48px;
    border-radius: .5rem;
}

.skills__title {
    text-align: center;
}

.skills__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill {
    display: block;
    height: 10px;
    width: 18%;
    background-color: var(--mdc-theme-text-icon-on-light);
    border-radius: 3px;
}

.skill--active {
    background-color: var(--mdc-theme-icon);
}

.skill__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--mdc-theme-text-secondary-on-dark);
}
